p{
    color: black ;
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
}

h1{
    width: 80%;
    color: black;
    font-size: 50px ;
    font-family: 'Oswald', sans-serif;
}

div {
    width: 80%;
    margin: auto;
    padding: 35px;
    background-color:rgba(255, 68, 0, 0.822);
    border-style: none;
    border-width: 47px;
    border-color: black
}
a:hover{
    border-bottom-color: rgb(251, 255, 0);
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 20px;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in;
}